// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
    list-style: none;
}

.profilepic{
    width:8rem; 
    height:8rem;
    position: absolute;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    
    
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-image: url("http://2.bp.blogspot.com/-IZP0iaeqSMk/URlFnT-5uVI/AAAAAAAAAUk/z5gfIbQ_iKU/s1600/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    height:5em;
    width: 90%; 
    color: white;
    margin-left: 8rem;
    
}



.uk-card-default{
    margin: 2rem;
    border: 2px solid #1e87f0;
}

.button{
    box-shadow: .1rem .1rem .1rem .1rem #1e87f0;
    display: inline;
    margin: 10px;
    border-radius: 1rem;
}

.button:hover{
    background-color: lightblue;
}

